.pokemonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: #EDEDED 0 10px 10px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    margin-top: 60px;
    padding-top: 40px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    text-decoration: none;
}

.pokemonCard:hover .imgCardGallery {
    transform: scale(1.25);
    transition: transform 0.25s ease-in;
    z-index: 1; 
}

.imgCardGallery {
    position: absolute;
    top: -55px;
    image-rendering: pixelated;
    transition-duration: 100ms;
}

.numberPokemonCard {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    color: #8F9396;
    font-size: 12px;
    font-weight: bold;
}

.namePokemonCard {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    color: #011030;
}

.typeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 3px 7px;
    color: black;
    margin: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .type {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-transform: capitalize;
    background: #78CD54;

  }
