.pokemonGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.loader img {
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
